@import "src/scss/globals.scss";
@import "src/components/Field/Field.scss";

input {
    width: 78%;
    margin-right: 2%;

    &.accent:focus {
        border-color: #f8a813 !important;
    }
}

button {
    width: 20%;
    height: $field-height;
    min-height: $min-height;
    transition: background-color $lapse-fast;

    border: 1px solid;
    border-color: #da910c;
    background-color: #f8a813;

    text {
        margin: auto;
        width: 100%;
        font-size: 14px;
        color: white;
    }

    &:hover {
        background: #da910c;
    }

    &:active {
        border-color: #da910c;
        background-color: #f8a813;
    }

    &:disabled {
        border-color: #9870c0;
        background-color: $color-purple;

        
        text {
            color: #e0c2ff;
            font-size: 15px;

            small {
                color: #e0c2ff;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }

    img {
        position: relative;
        width: 17px;
        margin: auto;
        margin-right: 3px;
    }
    
}

.little {
    font-size: 12px !important;

    small {
        font-size: 10px !important;
    }
}