<div>
    <div id="title" class="box" v-bind:class="{hidden: !value}">
        <text v-bind:class="{error: error}">
            <strong>{{title}}</strong>
        </text>
    </div>
    <div class="field">
        <input :placeholder="title" class="rcorner transparent" v-bind:class="{error: error}" :maxlength="max" :type="type" v-model="value" v-bind="{readonly: readonly}">
        <button class="rcorner" :onClick="onClick" v-bind="{disabled: !enabled}">
            <text v-if="enabled">{{inner}}</text>
            <text v-if="!enabled && mins" >
                {{mins}}m
            </text>
            <text v-if="!enabled" v-bind:class="{ little: mins}">
                {{secs}}s
            </text>
        </button>
    </div>
    <div id="warning" class="box error" v-bind:class="{double: line === 'double', hidden: !error || !error.length}">
        <small v-bind:class="{error: error}">{{error}}</small>
    </div>
</div>