@import "@/scss/_globals.scss";
@import "@/components/Field/Field.scss";

.field {
    display: inline-flex;
}

input {
    width: 78%;
    margin-right: 2%;
}

button {
    width: 20%;
    height: 30px;
    transition: background-color $lapse-fast;
    display: inline-flex;
    

    border: 1px solid;
    border-color: #da910c;
    background-color: #f8a813;

    text {
        margin: auto;
        width: 100%;
        font-size: 14px;
        color: white;
    }

    &:hover {
        background: #da910c;
    }

    &:active {
        border-color: #da910c;
        background-color: #f8a813;
    }

    &:disabled {
        border-color: #9870c0;
        background-color: #795997;

        text {
            color: #e0c2ff;
            font-size: 15px;

            small {
                color: #e0c2ff;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }

    img {
        position: relative;
        width: 17px;
        margin: auto;
        margin-right: 3px;
    }
    
}