@import "@/scss/globals.scss";

#loader {
  padding-top: 3px;
}

.routes {
  width: fit-content;
  margin-left: auto;
  padding-right: 2%;
  margin-top: 10px;

  .route {
    margin-left: auto;
    color: #3888ca;
    text-decoration: none;
    font-size: 14px;
  }

}

.dark {
  @import "@/scss/global.dark.scss";
}

.banner {
  padding-top: $const-separation * 2;
  padding-bottom: $const-separation;

  .logo {
    margin: auto 0;
    height: 80px;
  }

  .lock {
    margin-left: 5px;
    height: 22px;
  }

  text {
    &.prefix {
      font-size: 21px;
    }
    
    &.appname {
      font-size: 24px;
    }
  }
}

.credentials {
  padding-top: $const-separation;
  padding-bottom: $const-separation;
  
  .credential {
    margin-top: $const-separation/2;
    margin-bottom: $const-separation/2;
  }
}