<div class="card" @keyup.enter="submit()">
    <div class="banner">
        <img class="logo" :src="getIconByTheme()"/>
        <div>
            <text class="prefix">Recover your password</text>
            <img class="lock" src="@/assets/padlock.svg"/>
        </div>
    </div>
    <List ref="messages" size="1"/>
    <div class="credentials">
        <DeferredField :max="placeholder == titles.code? 7 : null" class="credential" ref="code"
                        id="code" :error="error.code" :dark="dark" :title="placeholder" seconds="180"
                        :onChange="onChange" :readonly="loading" :onInnerAction="onInnerAction"
                        :callback="onCountOut"/>
        <button type="submit" class="rcorner submit" v-bind:class="{gray: !loading}" :onClick="submit" v-bind="{disabled: !submitEnabled || loading}">
            <text id="action" v-if="!loading">Recover</text>
            <scale-loader id="loader" :loading="loading" height="20px"></scale-loader>
        </button>
        <div class="routes">
            <router-link class="route" to="/signin">Get back to login</router-link>
        </div>
    </div>
    <div id="preferences">
        <SwitchButton label='Dark theme' :checked="dark" @change="onSwitchTheme"/>
    </div>
</div>