.container {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
}

.label {
    margin-left: 9px;
    color: #999999;

    /* Show an ellipsis if the text takes more than one line */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

/* Visually hide the checkbox input */
.input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.switch {
    --switch-container-width: 40px;
    --switch-size: calc(var(--switch-container-width) / 2);
    /* Vertically center the inner circle */
    display: flex;
    align-items: center;
    position: relative;
    height: var(--switch-size);
    flex-basis: var(--switch-container-width);

    --light-gray: #e2e8f0;
    --gray: #cbd5e0;
    --dark-gray: #a0aec0;
    --teal: #505050;

    /* Make the container element rounded */
    border-radius: var(--switch-size);
    background-color: var(--light-gray);

    /* In case the label gets long, the toggle shouldn't shrink. */
    flex-shrink: 0;

    transition: background-color 0.25s ease-in-out;
}

.input:checked + .switch {
    /* Teal background */
    background-color: var(--teal);
  }

.input:checked + .switch::before {
    border-color: var(--teal);
    /* Move the inner circle to the right */
    transform: translateX(
        calc(var(--switch-container-width) - var(--switch-size))
    );
}

.switch::before {
    content: "";
    position: absolute;
    /* Move a little bit the inner circle to the right */
    left: 1px;
    height: calc(var(--switch-size) - 4px);
    width: calc(var(--switch-size) - 4px);
    /* Make the inner circle fully rounded */
    border-radius: 9999px;
    background-color: white;

    transition: transform 0.375s ease-in-out;
    border: 2px solid var(--light-gray);
}

/*
.input:focus + .switch::before {
    border-color: var(--dark-gray);
}

.input:focus:checked + .switch::before {
    border-color: var(--dark-teal);
}
*/

.status {
    width: 100%;
    height: 100%;
    margin: auto 14%;
    font-size: 16px;
    align-items: center;
    font-weight: 500;
}

.on {
    text-align: left;
    color: #FFF;
}