<div class="wrapper rcorner" >
    <div class="sign-in-card rcorner">
        <div class="rcorner-top-only banner">
        <img class="logo" :src="get_logo"/>
        <p class="text">
            <text id="app-title">Sign in with </text>
            <text id="app-name">Alvidir</text>
            <button class="rcorner" id="link-button" @click="link_button_clicked">
            <img id="link-icon" :src="get_link"/>
            </button>
        </p>
        </div>
        <div id="credentials">
        <div class="field" v-if="!signin">
            <div class="title">Username <br> </div>
            <input class="input rcorner" type="text" v-model="username">
        </div>
        <div class="field">
            <div class="title"> <text v-if="signin"> Username /</text> Email <br> </div>
            <input class="input rcorner" type="text" v-model="email">
        </div>
        <div class="field">
            <div class="title">Password <br> </div>
            <input class="input rcorner" type="password" v-model="password">
        </div>
        <div class="field"  v-if="!signin">
            <div class="title">Repeat password <br> </div>
            <input class="input rcorner" type="password" v-model="password_repeat">
        </div>
        </div>
        <div id="actions">
            <button class="rcorner" id="login-button" @click="login_button_clicked">
                <text> {{get_sign_button_text}} </text>
            </button>
            <a href="#" ><br>Forgot password?</a> | 
            <a href="#" @click="signup_button_clicked"><strong>{{get_signin_option}}</strong></a>
        </div>
        <div id="preferences">
            <SwitchButton label='Dark theme' :checked="dark_theme" @change="onChangeEventHandler"/>
        </div>
    </div>
</div>