a {
  color: #3888ca;
  font-weight: normal;
  text-decoration: none;
  font-size: 14px;
}

h1 {
   margin: 0;
   padding: 0;
}

button {
  background: transparent;
  border: none;
  border: none;
  outline: none;
  height: 21px;
  margin-bottom: 5px;
}

button::-moz-focus-inner {
  border: 0;
}

button:hover{
  background: #e1e1e1;
}

button:active{
  background-color:#8e8e8e;
}

#credentials {
  width: 80%;
  margin: auto;
}

#credentials {
  margin-bottom: 30px;
}

#login-button {
  background: rgb(62, 155, 70);
  color: white;
  font-size: 16px;
  height: 35px;
  width: 80%;
  border: 1px solid;
  border-color: #366938;
  padding-top: 5px;
  margin-bottom: 10px;
}

#login-button:disabled {
  border-color: #707070;
  background-color: #808080;
}

#actions {
  width: 100%;
  text-align: center;
}

#preferences {
  height: fit-content;
  width: 120px;
  margin: 5%;
}

#loader {
  margin: auto;
  height: fit-content;
}

#banner {
  padding-top: 5%;
  text-align: center;
  margin-bottom: 30px;
}

.dark-input {
  color: #FFF;
}

.dark-input:focus{
  outline-width: 0;
  /*-moz-box-shadow:    inset 0px 0px 3px 1px #ffffff55;*/
  /*-webkit-box-shadow: inset 0px 0px 3px 1px #ffffff55;*/
  /*box-shadow:         inset 0px 0px 3px 1px #ffffff55;*/
}

.title {
  width: 80%;
  text-align: left;
  margin-left: 10%;
}

.card {
  height: fit-content;
  transition: color 0.25s ease-in-out;
}

@media (min-width: 360px) {
  /* if screen is to much little then the card becomes non-outlined*/
  .card {
    border: 1px dashed;
    border-color: #6e6e6e;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.25s ease-in-out;
  }
}

.error {
  border-color: #e04f5f !important;
}