<div class="wrapper rcorner" v-bind:class="{ error: error}">
    <div class="sign-in-card rcorner" >
        <div class="rcorner-top-only banner">
            <img class="logo" :src="get_logo"/>
            <p class="text">
                <text id="app-title">{{get_action_title}}</text>
                <text id="app-name"> Alvidir</text>
                <button class="rcorner" v-bind:class="{ dark: dark_theme}" id="link-button" @click="theme_has_changed">
                <img id="link-icon" :src="get_link"/>
                </button>
            </p>
        </div>
        <div v-if="error" class="rcorner warning error">
            <img id="error-icon" src="@/assets/error.red.svg">&nbsp;
            <text>Got some error</text>
        </div>
        <div id="credentials">
            <div class="field" v-if="!signin">
                <div class="title">Username <br> </div>
                <input class="input rcorner" v-bind:class="{'dark-input': dark_theme, error: error}" type="text" v-model="username">
            </div>
            <div class="field">
                <div class="title"> <text v-if="signin"> Username /</text> Email <br> </div>
                <input class="input rcorner" v-bind:class="{'dark-input': dark_theme, error: error}" type="text" v-model="email">
            </div>
            <div class="field">
                <div class="title">Password <br> </div>
                <input class="input rcorner" v-bind:class="{'dark-input': dark_theme, error: error}" type="password" v-model="password"> <br>
            </div>
            <div class="field"  v-if="!signin">
                <div class="title">Repeat password <br> </div>
                <input class="input rcorner" v-bind:class="{'dark-input': dark_theme, error: error}" type="password" v-model="password_repeat">
            </div>
        </div>
        <div id="actions">
            <button class="rcorner" id="login-button" @click="login_button_clicked">
                <text v-if="!loading"> {{get_sign_button_text}} </text>
                <scale-loader id="loader" :loading="loading" height="20px"></scale-loader>
            </button>
            <a href="#" ><br>Forgot password?</a> | 
            <a href="#" @click="signup_button_clicked"><strong>{{get_signin_option}}</strong></a>
        </div>
        <div id="preferences">
            <SwitchButton label='Dark theme' :checked="dark_theme" @change="theme_button_clicked"/>
        </div>
    </div>
</div>