<div class="card" @keyup.enter="submit()">
    <div class="banner">
        <img class="logo" :src="getIconByTheme()"/>
        <div>
            <text class="prefix">Sign up for</text>
            <text class="appname">&nbsp;Alvidir</text>
            <img class="plus" src="@/assets/plus.svg"/>
        </div>
    </div>
    <Warning :title="error.title" :subtitle="error.subtitle"/>
    <div class="credentials">
        <Field :onChange="onChange" class="credential" :dark="dark" ref="name" id="name" :error="error.name" title="Username" />
        <Field :onChange="onChange" class="credential" :dark="dark" ref="email" id="email" :error="error.email" title="Email" />
        <Field :onChange="onChange" class="credential" :dark="dark" ref="pwd" id="pwd" :error="error.password" title="Password" type="password"/>
        <Field :onChange="onChange" class="credential" :dark="dark" ref="repeat" id="repeat" :error="error.repeat" title="Repeat password" type="password"/>
        <button type="submit" class="rcorner submit" :onClick="submit">
            <text id="action" v-if="!loading">Sign up</text>
            <scale-loader id="loader" :loading="loading" height="20px"></scale-loader>
        </button>
        <div class="routes">
            <router-link class="route" to="/you-loser">Forgot password?</router-link>
            <text> | </text>
            <router-link class="route" to="/signin"><strong>Sign in to Alvidir</strong></router-link>
        </div>
    </div>
    <div id="preferences">
        <SwitchButton label='Dark theme' :checked="dark" @change="onSwitchTheme"/>
    </div>
</div>