<div class="card" @keyup.enter="submit()">
    <div class="banner">
        <img class="logo" :src="getIconByTheme()"/>
        <div>
            <text class="prefix">Recover your password</text>
            <img class="lock" src="@/assets/padlock.svg"/>
        </div>
    </div>
    <Warning :title="error.title" :subtitle="error.subtitle"/>
    <div class="credentials">
        <DeferredField max="7" class="credential" ref="id" id="ident" :error="error.ident" :dark="dark" title="6code" seconds="60" :onChange="onChange" :readonly="loading"/>
        <button type="submit" class="rcorner submit" v-bind:class="{color: loading}" :onClick="submit" v-bind="{disabled: !submitEnabled || loading}">
            <text id="action" v-if="!loading">Recover</text>
            <scale-loader id="loader" :loading="loading" height="20px"></scale-loader>
        </button>
    </div>
    <div id="preferences">
        <SwitchButton label='Dark theme' :checked="dark" @change="onSwitchTheme"/>
    </div>
</div>