<div class="card" @keyup.enter="submit()">
    <div class="banner">
        <img class="logo" :src="getIconByTheme()"/>
        <div>
            <text class="prefix">Recover your password</text>
            <img class="lock" src="@/assets/padlock.svg"/>
        </div>
    </div>
    <div v-for="(info, index) in messages"
         class="info-card"
         v-bind:class="{ rcorner: index == 0 || index == messages.length-1,
                        'bottom-only': index == messages.length-1 && messages.length > 1,
                        'top-only': index == 0 && messages.length > 1}">

        <img :src="info.icon"/>
        <div>
            <text v-bind:class="{dark: dark}" class="title">{{info.title}}<br></text>
            <text v-bind:class="{dark: dark}">{{info.details}}</text>
        </div>
    </div>
    <div class="credentials">
        <DeferredField :max="placeholder == titles.code? 7 : null" class="credential" ref="code"
                        id="code" :error="error.code" :dark="dark" :title="placeholder" seconds="180"
                        :onChange="onChange" :readonly="loading" :onInnerAction="onInnerAction"
                        :callback="onCountOut"/>
        <button type="submit" class="rcorner submit" v-bind:class="{gray: !loading}" :onClick="submit" v-bind="{disabled: !submitEnabled || loading}">
            <text id="action" v-if="!loading">Recover</text>
            <scale-loader id="loader" :loading="loading" height="20px"></scale-loader>
        </button>
        <div class="routes">
            <router-link class="route" to="/signin">Get back to login</router-link>
        </div>
    </div>
    <div id="preferences">
        <SwitchButton label='Dark theme' :checked="dark" @change="onSwitchTheme"/>
    </div>
</div>