@import "@/scss/_globals.scss";

#loader {
  padding-top: 3px;
}

.dark {
  @import "@/scss/_global.dark.scss";
}

.banner {
  padding-top: $const-separation * 2;
  padding-bottom: $const-separation;

  .logo {
    margin: auto 0;
    height: 80px;
  }

  .lock {
    margin-left: 5px;
    height: 22px;
  }

  text {
    &.prefix {
      font-size: 21px;
    }
    
    &.appname {
      font-size: 24px;
    }
  }
}

.credentials {
  padding-top: $const-separation;
  padding-bottom: $const-separation;
  
  .credential {
    margin-top: $const-separation/2;
    margin-bottom: $const-separation/2;
  }
}

.info-card {
  display: flex;
  margin: auto;
  width: 100%;

  background-color: #90909022;

  img {
    width: 50px;
    padding: 10px;
    opacity: 0.7;
    margin-left: 3px;
  }

  div {
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: left;
    margin: 0 auto;

    text {
      font-size: 13px;
      color: #1767b8;
      transition: color $lapse-primary;

      &.title {
        font-size: 14px;
        font-weight: 600;
      }

      &.dark {
        color: #57abff;
      }
    }
  }
}