@import "@/scss/_globals.scss";

#content {
  width: 100%;
  
  border: 1px solid;
  border-left: none;
  padding: 8px;

  .header {
    text-align: left;

    #title {
      font-weight: 600;
      font-size: $tsize-title;
    }

    #subtitle {
      font-style: italic;
      font-size: $tsize-regular;
    }
  }

  .content {
    text-align: left;
    word-break: break-all;
    margin-bottom: 0;
  }
}

.flaged-card {
  display: flex; /*require for items aligment*/
  height: fit-content;
  width: 100%;

  .flag {
    width: $const-radius;
    border: 1px solid;
    border-right: none;
  }
}