<div id="credentials">
    <Field ref="name" id="name" class="input-field" :dark="dark" title="Username" :onChange="onUpdate" line="double" v-if="all"/>
    <Field ref="email" id="email" class="input-field" :dark="dark" :title="all? 'Email' : 'Username / Email'" :onChange="onUpdate"/>
    <Field ref="password" id="password" class="input-field" :dark="dark" title="Password" :onChange="onUpdate" type="password" line="double"/>
    <Field ref="repeat" id="repeat" class="input-field" :dark="dark" title="Repeat password" :onChange="onUpdate" type="password"  v-if="all"/>
</div>