@import "@/scss/globals.scss";
$const-separation: 20px;

#loader {
  padding-top: 3px;
}

.dark {
  @import "@/scss/global.dark.scss";
}

.banner {
  padding-top: $const-separation * 2;
  padding-bottom: $const-separation;

  .logo {
    margin: auto 0;
    height: 80px;
  }

  .plus {
    margin-left: 6px;
    height: 16px;
  }

  text {
    &.prefix {
      font-size: 21px;
    }
    
    &.appname {
      font-size: 24px;
    }
  }
}

.routes {
  color: $text-regular;
  margin-top: 10px;

  .route { 
    color: #3888ca;
    font-weight: normal;
    text-decoration: none;
    font-size: 15px;
  }
}

.credentials {
  padding-top: $const-separation;
  padding-bottom: $const-separation;
  
  .credential {
    margin-top: $const-separation/2;
    margin-bottom: $const-separation/2;
  }

  input {
    width: 100%;
  }
}