@import "@/scss/_globals.scss";
$min-height: 36px !important;

#title {
  width: 100%;
  font-size: 15px;
  overflow: hidden;
}

#warning {
  width: 100%;
  overflow: hidden;
  padding-top: $const-radius;

  small {
    font-size: 13px;
  }
}

.field {
  width: 100%;
  height: fit-content;
}

.box {
  height: 20px;
  width: 100%;
  transition: height $lapse-fast;
  /** overflow-x: hidden; */
  text-align: left;
  padding-left: 3px;

  &.double {
    height: 35px;
  }

  &.hidden {
    height: 0;

    text {
      color: transparent;
    }
  }
}

input {
  height: $field-height;
  min-height: $min-height;
}