@import "@/scss/_globals.scss";

#title {
  width: 100%;
  font-size: 15px;
  overflow: hidden;
}

#warning {
  width: 100%;
  font-size: 14px;
  padding-top: 2px;
}

.field {
  width: 100%;
  height: fit-content;
}

.box {
  height: 20px;
  width: 100%;
  transition: height .25s ease-out;
  /** overflow-x: hidden; */
  text-align: left;

  &.double {
    height: 30px;
  }

  &.hidden {
    height: 0;
  }
}

.hid-box {
  top: 100%;
  position: relative;
  color: transparent;
  transition: all .25s ease-out;
  height: 100%;
}

.show-box{
  top: 0%;
  padding-bottom: 10px;
  color: $text-regular !important;
}