@import "@/scss/_globals.scss";
$max-width: 300px;

#preferences {
  max-width: $max-width;
}

.dark {
  @import "@/scss/_global.dark.scss";
}

.logo {
  margin: auto 0;
  padding-top: 10px;
  height: 90px;
}

.link-icon {
  height: 24px;
}

.submit {
  border: 1px solid;
  border-color: #366938;
  background: #3e9b46;
  font-size: 16px;
  height: 35px;
  width: 100%;
  /* max-width: $max-width; */

  &:hover {
    background: #56bb5f;
  }

  &:active {
    background: #3e9b46;
  }

  text {
    color: white;
  }
}

text {
  transition: color $lapse-primary;

  &.prefix {
    font-size: 24px;
  }
  
  &.appname {
    font-size: 28px;
  }
}

img {
  transition: src $lapse-primary;
}

.routes {
  color: $text-regular;
  margin-top: 10px;

  .route { 
    color: #3888ca;
    font-weight: normal;
    text-decoration: none;
    font-size: 15px;
  }
}
