<div class="card">
    <div class="banner">
        <img class="logo" :src="getIconByTheme()"/>
        <div>
            <text class="prefix">Sign in with</text>
            <text class="appname">&nbsp;Alvidir</text>
            <img class="link" src="@/assets/link.svg"/>
        </div>
    </div>
    <Warning :code="error.code"/>
    <div class="credentials">
        <Field class="credential" ref="id" id="ident" :error="error.ident" :dark="dark" title="Username / Email" />
        <Field class="credential" ref="pwd" id="password" :error="error.password" :dark="dark" title="Password" type="password"/>
        <button class="rcorner submit" :onClick="submit">
            <text id="action" v-if="!loading">Sign in</text>
            <scale-loader id="loader" :loading="loading" height="20px"></scale-loader>
        </button>
        <div class="routes">
            <router-link class="route" to="/you-loser">Forgot password?</router-link>
            <text> | </text>
            <router-link class="route" to="/signup"><strong>Sign up for Alvidir</strong></router-link>
        </div>
    </div>
    <div id="preferences">
        <SwitchButton label='Dark theme' :checked="dark" @change="onSwitchTheme"/>
    </div>
</div>