/// @type Color
$bg-theme-light: #EEE;
$bg-theme-dark: #333;
$bg-primary: $bg-theme-light !default;

$text-regular: $bg-theme-dark !default;
$text-error: #e04f5f !default;
$text-accepted: #3e9b46 !default;

$tsize-title: 16px;
$tsize-regular: 14px;

$color-purple: #795997 !default;

$dyn-separation: 10vh;
$const-separation: 20px;

$lapse-primary:  0.375s ease-in-out;
$lapse-fast:  0.25s ease-in-out;
$lapse-instant:  0.10s ease-in-out;

$field-height: 3.8vh;

$const-radius: 6px;

text {
    transition: color $lapse-primary;

    &.error {
        color: $text-error !important;
    }
}

small {
    transition: color $lapse-primary;
    
    &.error {
        color: $text-error !important;
    }
}

.rcorner {
    border-radius: $const-radius;

    &.left-only {
      border-radius: $const-radius 0 0 $const-radius;
      border-right: none !important;
    }

    &.right-only {
        border-radius: 0 $const-radius $const-radius 0;
        border-left: none !important;
    }

    &.top-only {
        border-radius: $const-radius $const-radius 0 0;
        border-bottom: none !important;
    }

    &.bottom-only {
        border-radius: 0 0 $const-radius $const-radius;
        border-top: none !important;
    }
}

input {
    width: 100%;
    height: 30px;
    font-size: 14px;
    transition: color $lapse-primary;
    outline:none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &.error {
        border-color: $text-error !important;
    }

    &.transparent {
        background: transparent;
        border: 1px solid;
        border-color: #9c9c9c;
        padding-left: 10px;
        //transition: border $lapse-instant;

        &:focus{
            outline-width: 0;
            border: 2px solid;
            border-color: $text-accepted;
            //-moz-box-shadow:    inset 0px 0px 3px 1px #aeaeae90;
            //-webkit-box-shadow: inset 0px 0px 3px 1px #aeaeae90;
            //box-shadow:         inset 0px 0px 3px 1px #aeaeae90;
        }
    }
}

button {
    outline: none;

    &.submit {
        border: 1px solid;
        border-color: #366938;
        background: $text-accepted;;
        font-size: 16px;
        height: 35px;
        width: 100%;
        margin-top: $const-separation;
        transition: background-color $lapse-fast;
      
        &:hover {
          background-color: #2e8135;
        }
      
        &:active {
          background-color: $text-accepted;;
        }
      
        &:disabled {
          &.gray {
            border-color: #707070;
            background-color: #808080;
          }
      
          text {
            color: #dddddd;
          }
        }
      
        text {
          color: white;
        }
    }
}

.card {
    @extend .rcorner;
    width: 320px;
    margin: 0 auto;
    padding: 10px;
  
    @media (min-width: 501px) {
      /* if screen is to much little then the card becomes non-outlined*/
      border: 1px dashed;
      border-color: #6e6e6e;
      box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
      transition: background-color 0.25s ease-in-out;
      transition: all $lapse-primary;
    }
  
    @media (min-height: 800px) {
      margin-top: $dyn-separation;
      margin-bottom: $dyn-separation;
    }
  
    @media (max-height: 800px) {
      margin-top: $dyn-separation/2;
      margin-bottom: $dyn-separation/2;
    }
  
    transition: all $lapse-primary;
}