/// @type Color
$bg-primary: $bg-theme-light;
$text-regular: $bg-theme-dark;

button {
    &.transparent {
        background: transparent;
        border: none;

        &::-moz-focus-inner {
            border: 0;
        }
    
        &:hover{
            background: #EEE;
        }
    
        &:active{
            background: transparent;
        }
    }
}

text, small {
    color: $text-regular;
}